# Ignore writeable
/writable/cache/*
/writable/uploads/*
/writable/debugbar/*
/writable/session/*
/writable/logs/*.log

# Ignore composer
/composer.json
/composer.lock
/vendor

# Ignore .env
/.env

# Ignore editor backup files
*~
